body{
    background-color: gray;
}
h1{
    background-color: pink;
    padding: 1rem;
    text-align: center;
}
a{
    color: black;
}
a:hover{
    color: silver;
}
nav{
    background: lightblue;
    padding: 1rem;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}